.card-container {
    width: 200px;
    height: 200px;
    background-color: gray;
    text-align: center;
    color: black;
    margin: 10px;
    cursor: pointer;
    border: 2px solid black
}


.card-showed{ 
    background-color: aqua;
}